.feed-container {

}

.feed {
    background-color: #ee5c61;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.popup {
    left: 16px;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 12px 8px 0px 8px;
    z-index: 999;
    opacity: 80%;
    font-size: 12px;
    color: white;
}

.popup-text {
    margin-bottom: 5px;
}

.popup-close:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(194, 194, 194);
}

.carousel {
    padding-top: 1%;
    padding-bottom: 1%;
}

.all-albums-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-container {
    height: fit-content;
    width: fit-content;
    max-height: 309px;
    max-width: 250px;
    padding: 15px;
    margin: 30px 30px 30px 30px;
    font-size: 16px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    background-color: #fff1f2;
    box-shadow: 5px 3px 5px #863437;
    border-radius: 25px;
    cursor: pointer;
    transition: transform .2s;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.item-container:hover {
    transform: scale(1.15);
}

.item-container::-webkit-scrollbar {
    display: none;
}

.item-image {
    border-radius: 15px;
    height: 250px;
    width: 250px;
}

.item-image-carousel {
    border-radius: 15px;
    height: 500px;
    width: 500px;
}

.item-name {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 21px;
    font-weight: 600;
}

.item-artist {
    padding-top: 3px;
    padding-bottom: 5px;
    font-size: 19px;
}

a {
    font-size: 17px;
}